@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Volkswagen Roodepoort <br />stock management system</h1>
    <p>Click here to see stock <a href="Vehicle\Index">-Enter-</a>.</p>
</div>

